{% extends 'main/base.html' %}
{% load tz %}

{% block content %}
<h1>Gyártások listája</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Késztermék</th>
        <th>Partner</th>
        <th>Tervezett mennyiség</th>
        <th>Jó mennyiség</th>
        <th>Selejt</th>
        <th>Státusz</th>
        <th>Létrehozva</th>
        <th>Művelet</th>

    </tr>

    {% for g in gyartasok %}
    <tr>
        <td>{{ g.gyartas_id }}</td>
        <td>{{ g.kesztermek_cikkszam.megnevezes }}</td>
        <td>{{ g.partner.partner_nev }}</td>
        <td>{{ g.tervezett_mennyiseg }}</td>
        <td>{{ g.jo_mennyiseg }}</td>
        <td>{{ g.selejt_mennyiseg }}</td>
        <td>{{ g.statusz }}</td>
        <td>{{ g.letrehozas_datuma|localtime|date:"Y-m-d H:i" }}</td>
        <td>
    <a href="/operator/gyartas/{{ g.gyartas_id }}/" style="
        background:#3B82F6;
        color:white;
        padding:6px 12px;
        border-radius:4px;
        text-decoration:none;
    ">Megnyitás</a>
</td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
